//import font from Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
//set font family and scroll
html {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  overflow-y: scroll;
  overflow-x: hidden;
}

//header styling
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #0074aa;
  height: 90px;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  a {
    text-decoration: none;
    color: #ffffff;
  }
  h1 {
    display: inline;
    grid-column: 1;
    float: left;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
  }
  .header-nav {
    padding: 10px;
    grid-column: 2;
    margin: 0;
    width: 100%;
    ul {
      display: flex;
      text-transform: uppercase;
    }
    li {
      display: inline;
      font-weight: bold;
      width: 100%;
      justify-content: space-evenly;
    }
  }
  a:hover,
  li:hover {
    color: #dfdfdf;
  }
}

//Content Styling
main {
  width: 100%;
  padding: 10rem 0;
  margin: auto;
  text-align: center;
  box-shadow: 0px 0px 10px black;
  h2 {
    font-size: 4rem;
    font-weight: bold;
  }
  .section1 p,
  .section2 p,
  .section3 p {
    padding: 10rem 0;
  }
  .section2 {
    width: 100%;
    color: white;
    background-color: #0074aa;
  }
}

//footer styling
.footer-content {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: small;
  height: auto;
  padding: 0 5% 12px 5%;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  z-index: 1;
  ul * {
    text-decoration: none;
    a {
      color: black;
    }
    a:hover {
      color: #0074aa;
    }
  }
  .contact div {
    position: inherit;
    display: block;
    grid-column: 0 / 1;
    width: max-content;
  }
  .contact {
    margin: 1rem;
    border: #0074aa 2px solid;
  }
  .info {
    text-align: center;
    margin: 1rem;
    border: #0074aa 2px solid;
    div {
      display: block;
      grid-column: 1 / 2;
      width: max-content;
    }
  }
  .footer-nav {
    margin: 1rem;
    border: #0074aa 2px solid;
    div {
      display: block;
      grid-column: 2 / 3;
      width: 5rem;
    }
  }
}
