@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
html {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #639282;
  height: 90px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}
header a {
  text-decoration: none;
  color: #fbf7f4;
}
header h1 {
  display: inline;
  grid-column: 1;
  float: left;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}
header .header-nav {
  padding: 20px 0;
  grid-column: 2;
  width: 100%;
}
header .header-nav ul {
  display: flex;
  justify-content: right;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
header .header-nav li {
  padding: 0 10px;
  display: inline;
  font-weight: bold;
  justify-content: space-evenly;
}
header a:hover,
header li:hover {
  color: #2a3b36;
}

main {
  width: 100%;
  padding: 10rem 0;
  margin: auto;
  text-align: center;
  box-shadow: 0px 0px 10px black;
}
main h2 {
  font-size: 4rem;
  font-weight: bold;
}
main .section1 p,
main .section2 p,
main .section3 p {
  padding: 10rem 0;
}
main .hero-section {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-repeat: no-repeat;
}
main .hero-section h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 25%;
  height: auto;
  width: 50%;
  color: white;
  box-shadow: 5px 5px 7px #000000;
  background-color: rgba(99, 146, 130, 0.7176470588);
  position: absolute;
  z-index: 1;
}
main .hero-section img {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: 0;
}
main .section2 {
  width: 100%;
  color: #fbf7f4;
  background-color: #639282;
}

.footer-content {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: small;
  font-weight: 500;
  height: auto;
  padding: 10px 0;
  background-color: #90b2a6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
  z-index: 1;
}
.footer-content ul * {
  text-decoration: none;
}
.footer-content ul * a {
  color: black;
}
.footer-content ul * a:hover {
  color: #d1f0e0;
}
.footer-content .contact div {
  position: inherit;
  display: block;
  grid-column: 0/1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footer-content .contact {
  display: flex;
  place-content: center;
  text-align: center;
  margin: 1rem;
}
.footer-content .info {
  display: flex;
  place-content: center;
  text-align: center;
  margin: 1rem;
}
.footer-content .info div {
  display: block;
  grid-column: 1/2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footer-content .footer-nav {
  margin: 1rem;
  text-align: center;
  display: flex;
  place-content: center;
}
.footer-content .footer-nav div {
  grid-column: 2/3;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}/*# sourceMappingURL=main.css.map */